{% extends 'base.html' %}

{% block title %}Borrar{% endblock %}

{% block ti %}Borrar un post{% endblock %}

{% block loginzone %}
    <div class="nav_e">
        <a href='/profile'>OTRA WREA</a>
    </div>
{% endblock %}

{% block content %}
    <div class="navi">
        <a href="/create">Crear un nuevo post!  </a>
        <a href="/auth/logout">  Logout  </a>
        <a href="/auth/login">Cambiar de cuenta</a>
    </div>
    <br />
    <div class="posts">
        <div class="posthead">
            <div class='title'><strong>{{ post.title }}</strong></div>
            <span class="details">Autor: {{ post.username }}</span>
            <span class="details">{{ post.created_at }}</span>
        </div>
        <div>{{ post.content }}</div>
        <br />
        <form method="POST">
            <label>Estas seguro de borrar este post?</label>
            <input type="submit" value="Sí, borralo" />
        </form>
        <a href="/">Cancelar</a>
    </div>
    <br />
{% endblock %}