{% extends 'base.html' %}

{% block title %}Timeline{% endblock %}

{% block ti %}Main Page{% endblock %}

{% block loginzone %}
    <div class="nav_e">
        <a href='/profile/{{ name }}/0'>{{ name }}</a>
    </div>
{% endblock %}

{% block content %}
    <div class="navi">
        <a href="/create">Crear un nuevo post!  </a>
        <a href="/auth/logout">  Logout  </a>
        <a href="/auth/login">Cambiar de cuenta</a>
    </div>
    <br />
    {% for post in posts %}
    <div class="posts">
        <div class="posthead">
            <div class='title'>
                <a href="/post/{{ post.id }}">
                    <strong>{{ post.title }}</strong>
                </a>
            </div>
            <a class="details" href="profile/{{ post.username }}">Autor: {{ post.username }}</a>
            <span class="details">{{ post.last_modified }}</span>
            <span class="details">{{ post.id }}</span>
            <span><a href="/edit/{{ post.id }}">Editar</a></span>
            <span><a href="/delete/{{ post.id }}">Borrar</a></span>
        </div>
        <div>{{ post.content }}</div>
        <br />
    </div>
    <br />
    {% endfor %}
    
    {% if navi['back'] %}
        <form method="POST" action="/{{ pag - 1 }}">
            <button name="limit_d" id="limit_d" value="{{ posts[0].last_modified }}">
                Atras
            </button>
        </form>
    {% endif %}
    {% if navi['next'] %}
        <form method="POST" action="/{{ pag + 1 }}">
            <button name="limit_t" id="limit_t" value="{{ posts[num - 1].last_modified }}">
                Adelante
            </button>
        </form>
    {% endif %}
{% endblock %}