{% extends 'base.html' %}
{% import './blog/comp.html' as macros %}

{% block title %}Timeline{% endblock %}

{% block ti %}Main Page{% endblock %}

{% block loginzone %}
    <div class="nav_e">
        <a href='/profile/{{ name }}/0'>{{ name }}</a>
    </div>
{% endblock %}

{% block content %}
    <div class="navi">
        <a href="/create">Crear un nuevo post!  </a>
        <a href="/auth/logout">  Logout  </a>
        <a href="/auth/login">Cambiar de cuenta</a>
    </div>
    <br />
    {% for post in posts %}
        {{ macros.render_feed(post) }}
    {% endfor %}
    
    {{ macros.render_navb(navi) }}
{% endblock %}