{% extends 'base.html' %}

{% block title %}Perfil{% endblock %}

{% block ti %}Tu perfil!{% endblock %}

{% block loginzone %}
    <div class="nav_e">
        <a href='/profile/{{ name }}/0'>{{ usern }}</a>
    </div>
{% endblock %}

{% block content %}
    <div class="navi">
        <a href="/create">Crear un nuevo post!  </a>
        <a href="/auth/logout">  Logout  </a>
        <a href="/auth/login">Cambiar de cuenta</a>
    </div>
    <br />

    <div class="pf">
        <div>
            {% if edition %}
            <a href="/editprofile">✏️</a>
            {% endif %}
            <span>{{ pf['username'] }}</span>
        </div>
        <div>
            <img src="{{ pf['pfp'] }}" />
        </div>
        {% if pf['bio'] %}
            <div>{{ pf['bio'] }}</div>
        {% endif %}
         {% if pf['direction'] %}
            <div>🌎{{ pf['direction'] }}</div>
        {% endif %}
        {% if pf['birthday'] %}
            <div>🥧{{ pf['birthday'] }}</div>
        {% endif %}
        <div>Usuario desde</div>
        <div>{{ pf['anniversary'] }}</div>
    </div>
    {% for post in posts %}
    <div class="posts">
        <div class="posthead">
            <div class='title'><strong>{{ post.title }}</strong></div>
            <span class="details">Autor: {{ post.username }}</span>
            <span class="details">{{ post.created_at }}</span>
            <span class="details">{{ post.id }}</span>
            <span><a href="/edit/{{ post.id }}">Editar</a></span>
            <span><a href="/delete/{{ post.id }}">Borrar</a></span>
        </div>
        <div>{{ post.content }}</div>
        <br />
    </div>
    <br />
    {% endfor %}
    {% if navi['back'] %}
        <form method="POST" action="/profile/{{ pf['username'] }}/{{ pag - 1 }}">
            <button name="limit_d" id="limit_d" value="{{ posts[0].last_modified }}">
                Atras
            </button>
        </form>
    {% endif %}
    {% if navi['next'] %}
    <form method="POST" action="/profile/{{ pf['username'] }}/{{ pag + 1 }}">
            <button name="limit_t" id="limit_t" value="{{ posts[num - 1].last_modified }}">
                Adelante
            </button>
        </form>
    {% endif %}
{% endblock %}