{% extends 'base.html' %}

{% block title %}Timeline{% endblock %}

{% block ti %}Main Page{% endblock %}

{% block loginzone %}
    <div class="nav_e">
        nada
    </div>
{% endblock %}

{% block content %}
    <div class="navi">
        <a href="/create">Crear un nuevo post!  </a>
        <a href="/auth/logout">  Logout  </a>
        <a href="/auth/login">Cambiar de cuenta</a>
    </div>
    <br />
    
    <div>
        <a href="/profile/{{ name }}/0">
            Posts
        </a>
        <a href="/profile/{{ name }}/comments/0">
            Comments
        </a>
    </div>
    <div class="pf">
        <div>
            {% if edition %}
            <a href="/editprofile">✏️</a>
            {% endif %}
            <span>{{ pf['username'] }}</span>
        </div>
        <div>
            <img src="{{ pf['pfp'] }}" />
        </div>
        {% if pf['bio'] %}
            <div>{{ pf['bio'] }}</div>
        {% endif %}
         {% if pf['direction'] %}
            <div>🌎{{ pf['direction'] }}</div>
        {% endif %}
        {% if pf['birthday'] %}
            <div>🥧{{ pf['birthday'] }}</div>
        {% endif %}
        <div>Usuario desde</div>
        <div>{{ pf['anniversary'] }}</div>
    </div>
    
    {% for comm in comms %}
    <div class="posts">
        <div>
            {{ comm.title }}
        </div>
        <div>
            {% if comm.comment_owner %}
                <a href="edit/comment/{{ comm.id }}">Editar</a>
                <a href="delete/comment/{{ comm.id }}">Borrar</a>
            {% endif %}
        </div>
        <div class="posthead">
            
            <a class="details" href="/profile/{{ comm.username }}">Autor: {{ comm.username }}</a>
            <span class="details">{{ comm.commented_at }}</span>
        </div>
        <div>{{ comm.comm }}</div>
        <br />
    </div>
    <br />
    {% endfor %}
    
    {% if nav['back'] %}
        <form method="POST" action="/profile/{{ comms[0].username }}/comments/{{ pag - 1 }}">
            <button name="limit_d" id="limit_d" value="{{ comms[0].commented_at }}">
                Atras
            </button>
        </form>
    {% endif %}
    {% if nav['next'] %}
    <form method="POST" action="/profile/{{ comms[0].username }}/comments/{{ pag + 1 }}">
            <button name="limit_t" id="limit_t" value="{{ comms[num - 1].commented_at }}">
                Adelante
            </button>
        </form>
    {% endif %}
{% endblock %}