body {
    background-color: #eee;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

.navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: grey;
    width: 100%;
    height: 30px;
}

.navi {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 13px;
    margin-bottom: 17px;
}

.posthead {
    border-bottom: 3px;
    border-bottom-style: solid;
    border-bottom-color: ivory;
}

.posts {
    display: flex;
    flex-flow: column wrap;
    border-width: 3px;
    border-style: solid;
    border-color: ivory;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}

.details {
    color: lightgrey;
    font-size: smaller;
}

.title {
    text-align: center;
}

