body {
    background-color: #eee;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

.navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: grey;
    width: 100%;
    height: 30px;
}

.navi {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 13px;
    margin-bottom: 17px;
}

.posthead {
    border-bottom: 3px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0,0,0,0.3);
}

.posts {
    display: flex;
    flex-flow: column wrap;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(0,0,0,0.3);
    border-radius: 4px;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    background-color: white;
}

.details {
    color: goldenrod;
    font-size: smaller;
}

.title {
    text-align: center;
}

.create {
    display: flex;
    flex-flow: column nowrap;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    height: 300px;
}

.cajatexto {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    align-content: flex-start;
}