<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" />
    </head>
    <body>
        <div>
            <div class="navbar">
                <div>Icono pagina</div>
                <div>{% block ti %}{% endblock %}</div>
                <div>Usuario creo</div>
            </div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            <div class="cuerpo">
                <div>
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div> 
    </body>
</html>